<%- include ('../views/partials/header') %>
<%- include ('../views/partials/navbar') %>
<div class="flex justify-around">
  <div class="flex flex-col py-6 my-4 text-gray-700 text-center rounded-md">
    <!-- Edit Frequently Asked Question -->
    <form class="border rounded p-6 bg-white max-w-2xl" action="/faqs/<%=faq._id%>?_method=PUT" method="POST">
      <div class="px-4 py-5 sm:p-6">
        <!-- Question -->
        <div class="block font-medium leading-5 text-gray-700 mb-4">
          <h1 class="font-bold text-3xl ">Frequently Asked Questions</h1>
        </div>
        <div class="flex flex-col w-full">
          <div class="">
            <label for="question" class="block font-medium leading-5 text-gray-700">
              Question
            </label>
            <div class="bg-gray-400 mt-1 flex rounded-md shadow-sm">
              <textarea id="question" name="question" rows="5" class="bg-gray-400 form-input flex-1 block w-full rounded-none rounded-md transition duration-150 p-2 ease-in-out text-2xl sm:leading-5" placeholder=""><%= faq.question %></textarea>
            </div>
          </div>

          <!-- Response -->
          <div class="mt-6">
            <label for="response" class="block font-medium leading-5 text-gray-700">
              Response
            </label>
            <div class="bg-gray-400 mt-1 flex rounded-md shadow-sm">
              <textarea id="response" name="response" rows="8" class="form-textarea bg-gray-400 flex-1 block w-full rounded-none rounded-md transition duration-150 p-2 ease-in-out text-2xl sm:leading-5" placeholder=""><%= faq.response %></textarea>
            </div>
            <p class="mt-2 text-gray-500">
              Brief description of the response to be displayed to the customer.
            </p>
          </div>
          <!-- Reference -->
          <div class="mt-6">
            <label for="reference" class="block font-medium leading-5 text-gray-700">
              Reference
            </label>
            <div class="bg-gray-400 mt-1 flex rounded-md shadow-sm">
              <input id="reference" name="reference" class="bg-gray-400 form-input flex-1 block w-full rounded-none rounded-md transition duration-150 p-2 ease-in-out text-2xl sm:leading-5" placeholder="" value="<%= faq.reference %>">
            </div>
            <p class="mt-2 text-gray-500">
              Input URL for reference.
            </p>
          </div>
        </div>
      </div>
      <div class="bg-white flex justify-start sm:p-6">
        <span class="rounded-md shadow-sm">
          <button type="submit"
            class="inline-flex justify-center py-2 px-4 border border-transparent text-xl leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
            Add
          </button>
        </span>
      </div>
    </form>
  </div>
</div>

<%- include ('../views/partials/footer') %>
