<%- include ('../views/partials/header') %>
<%- include ('../views/partials/navbar') %>

<div class="p-12">
  <h2><%= message %></h2>
  <p><%= status %></p>
  <p><%= stackHighlighted %></p>
</div>

<%- include ('../views/partials/footer') %>
