<%- include ('../views/partials/header') %>
<%- include ('../views/partials/navbar') %>
<div class="flex justify-around">
  <div class="flex flex-col py-6 my-4 text-gray-700 text-center rounded-md">
    <div class="border rounded p-6 bg-white max-w-2xl">
      <img class="w-full" src="./images/FAQ.png" alt="">
      <h2 class="text-center text-xl leading-9 font-semibold text-gray-500 sm:leading-10">
        Most Frequently Asked Questions
      </h2>
      <div class=" text-center font-bold text-4xl mb-2">
        <% if(user) { %>
          <div class="text-xl text-blue-400 hover:text-blue-200">
            <a href="/add-faq">
              <i class="fas fa-plus-circle"></i>
              <span>Add Frequently Asked Question</span>
            </a>
          </div>
        <% } %>
      </div>
      <div class="mt-6 border-t-2 border-gray-200 pt-6">
        <dl>
          <% faqs.forEach((faq) => { %>
            <% if (faq) { %>
              <div>
                <dt class="text-lg leading-7">
                  <span class="uppercase font-medium bg-red-200 text-gray-900">
                      <%= faq.question %>
                  </span>
                </dt>
                <dd class="my-4 pr-12">
                  <span class="uppercase  text-base leading-6 text-gray-700">
                    <%= faq.response %>
                  </span>
                  <% if(faq.reference) { %>
                    <span>
                      <a class="underline text-blue-400" href="<%=faq.reference%>" target="_blank">
                        HERE
                      </a>
                    </span>
                    <% } %>
                </dd>
                <% if(user) { %>
                  <div class="flex justify-center">
                    <form class="p-2" action="/faqs/<%= faq._id %>?_method=DELETE" method="POST">
                      <button><i class="fas fa-trash" style="color: #AA3838"></i></button>
                    </form>
                    <form class="p-2" action="/faqs/<%= faq._id %>" method="GET">
                      <button><i class="fas fa-edit" style="color: #044701"></i></button>
                    </form>
                  </div>
                <% } %>
              </div>
            <% } %>
          <% }) %>
        </dl>
      </div>
    </div>
  </div>
</div>




<%- include ('../views/partials/footer') %>
