<%- include ('../views/partials/header') %>
<%- include ('../views/partials/navbar') %>
<div class="md:flex xs:flex-col justify-around my-4">
  <!-- Signature List -->
  <div class="my-2 flex justify-around">
    <div class="max-w-md rounded-md overflow-hidden shadow-lg bg-white border">
      <div class="max-w-sm text-center p-6">
        <div class="font-bold text-3xl mb-2">
          <% if(!user) { %>
            <h3>
              Signature Cake Spells
              <i class="fas fa-magic"></i>
            </h3>
          <% } else { %>
            <h3>
              Signature Cake Spells
              <i class="fas fa-magic"></i>
            </h3>
            <div class="text-xl text-blue-400 hover:text-blue-200">
              <a href="/add-flavors#signature">
                <i class="fas fa-plus-circle"></i>
                <span>Add Signature Flavor</span>
              </a>
            </div>
          <% } %>
        </div>
        <div class="w-full flex flex-col justify-around uppercase">

          <% flavors.forEach((flavor) => { %>
            <% if (flavor.signature.name) { %>
            <div class="w-full">
              <div class="flex justify-around items-center text-xl font-bold text-grayy-800 bg-purple-300 mb-2 capitalize p-1">
                <h5><%= flavor.signature.name %></h5>
                <% if(user) { %>
                  <div class="flex justify-end">
                    <form class="px-2" action="/flavors/<%= flavor._id %>?_method=DELETE" method="POST">
                      <button><i class="fas fa-trash" style="color: #3b5360"></i></button>
                    </form>
                    <form class="px-2" action="/flavors/<%= flavor._id %>" method="GET">
                      <button><i class="fas fa-edit" style="color: #3b5360"></i></button>
                    </form>
                  </div>
                <% } %>
              </div>
              <p class="text-gray-700 text-base mb-2">
                <%= flavor.signature.description %>
              </p>
            </div>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
  <!-- Build Your Own List -->
  <div class="my-2 flex justify-around">
    <div class="max-w-md rounded-md overflow-hidden shadow-lg bg-white border">
      <div class="max-w-sm text-center p-6">
        <div class="font-bold text-3xl mb-2">
          <% if(!user) { %>
            <h3>
              Build Your Own Magic
              <i class="fas fa-fill-drip"></i>
            </h3>
          <% } else { %>
            <h3>
              Build Your Own Magic
              <i class="fas fa-fill-drip"></i>
            </h3>
            <div class="text-xl text-blue-400 hover:text-blue-200">
              <a href="/add-flavors#build" >
                <i class="fas fa-plus-circle"></i>
                <span>Add Build Your Own Ingredient</span>
              </a>
            </div>
          <% } %>
        </div>
        <div class="w-full flex flex-col justify-end">
          <div class="w-full">
            <div class="text-xl font-bold text-grayy-800 bg-pink-300 my-2 p-1">
              <h5>
                Cake / Sponge
              </h5>
            </div>
            <ul>
              <% flavors.forEach((flavor) => { %>
                <li class="flex justify-between items-center text-gray-700 uppercase">
                  <span class="text-left"><%= flavor.buildYourOwn.base.ingredient %></span>
                  <% if(flavor.buildYourOwn.base.ingredient && user) { %>
                    <div class="flex justify-end">
                      <form class="px-2" action="/flavors/<%= flavor._id %>?_method=DELETE" method="POST">
                        <button><i class="fas fa-trash" style="color: #3b5360"></i></button>
                      </form>
                      <form class="px-2" action="/flavors/<%= flavor._id %>" method="GET">
                        <button><i class="fas fa-edit" style="color: #3b5360"></i></button>
                      </form>
                    </div>
                  <% } %>
                </li>
              <% }) %>
            </ul>
          </div>
          <div class="w-full">
            <div class="text-xl font-bold text-grayy-800 bg-pink-300 my-2 p-1">
              <h4>
                Buttercream / Filling
              </h4>
            </div>
            <ul>
              <% flavors.forEach((flavor) => { %>
                <li class="flex justify-between items-center text-gray-700 uppercase">
                  <span class="text-left"><%= flavor.buildYourOwn.filling.ingredient %></span>
                  <% if(flavor.buildYourOwn.filling.ingredient && user) { %>
                    <div class="flex justify-end">
                      <form class="px-2" action="/flavors/<%= flavor._id %>?_method=DELETE" method="POST">
                        <button><i class="fas fa-trash" style="color: #3b5360"></i></button>
                      </form>
                      <form class="px-2" action="/flavors/<%= flavor._id %>" method="GET">
                        <button><i class="fas fa-edit" style="color: #3b5360"></i></button>
                      </form>
                    </div>
                  <% } %>
                </li>
              <% }) %>
            </ul>
          </div>
          <div class="w-full">
            <div class="text-xl font-bold text-grayy-800 bg-pink-300 my-2 p-1">
              <h4>
                Sprinkle in a little fairy dust (extras)
              </h4>
            </div>
            <ul>
              <% flavors.forEach((flavor) => { %>
                <li class="flex justify-between items-center text-gray-700 uppercase">
                  <span class="text-left"><%= flavor.buildYourOwn.topping.ingredient %></span>
                  <% if(flavor.buildYourOwn.topping.ingredient && user) { %>
                    <div class="flex justify-end">
                      <form class="px-2" action="/flavors/<%= flavor._id %>?_method=DELETE" method="POST">
                        <button><i class="fas fa-trash" style="color: #3b5360"></i></button>
                      </form>
                      <form class="px-2" action="/flavors/<%= flavor._id %>" method="GET">
                        <button><i class="fas fa-edit" style="color: #3b5360"></i></button>
                      </form>
                    </div>
                  <% } %>
                </li>
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<%- include ('../views/partials/footer') %>
